
{% set uniqueId = "id_87390903-eca2-44a7-ac42-06ad57bba184" %}
{% set backgroundFixed = general_settings.fixed ? 'fixed' : 'scroll' %}
{% set backgroundColor = general_settings.background_color_enable ? 'background-color:' ~ 
general_settings.color ~  ';' : '' %}
{% set backgroundImage = general_settings.background_image_enable ? 'background-image: url(' ~ 
general_settings.image ~ 
');background-attachment:' ~  backgroundFixed ~  ';background-size:' ~  general_settings.size ~  ';' : '' %}

<section data-id="categories" css="{{ backgroundColor }}{{ backgroundImage }}">
  <div class="core-overlay " css="background-color: {{ general_settings.overlay }}"></div>
  <div class="number">
		<div class="number__page">
			<p class="number__text">1</p>
		</div>
		<div class="number__page">
			<p class="number__text">2</p>
		</div>
		<div class="number__page">
			<p class="number__text">3</p>
		</div>
		<div class="number__page">
			<p class="number__text">4</p>
		</div>
		<div class="number__page">
			<p class="number__text">-></p>
		</div>
	</div>
</section>
